<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">TRT Conseil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('home') }}" alt="Retour vers Accueil" title="Retour vers Accueil">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recruiter') }}" alt="Lien vers les Entreprises" title="Lien vers les Entreprises">Entreprises</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('candidate') }}" alt="Lien vers les Candiadats" title="Lien vers les Candiadats">Candidats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact') }}" alt="Formulaire de contact" title="Formulaire de contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
