.center
    text-align: center

.legend
    border: solid 2px black
    padding: 20px
    background: rgba(87, 174, 224, 0.8)
    color: #000
    max-width: 650px
    margin: auto
    margin-top: 40px


// STYLE TITLE start
.titleCustom
    font-size: 20px
    font-weight: 700
    & .conseil
        color: $blue
        text-transform: uppercase
    
.titleCustom2
    color: white
    margin: 20px 0
    font-size: 2em
    font-weight: 700


// STYLE TITLE end
    
// STYLE btn start
.btnCustom
    background-color: $blueDark
    color: #fff 
    font-weight: 600
    transition: 0.3s
    transition-property: color, background-color
    text-align: center
    margin: auto
    display: flex
    align-items: center
    &:hover 
        background-color: white
        color: $blueDark

.btnValidate
    background-color: $blue
    color: #000
    transition: 0.3s
    transition-property: color, background-color, font-weight
    text-align: center
    &:hover 
        background-color: white
        color: $blueDark
        font-weight: 800

    
// STYLE btn end

    // STYLE SEPARATOR START
.separator
    height: 7px
    width: 20%
    border: none
    box-shadow: none
    margin: auto
    margin-top: 50px
    margin-bottom: 50px

// STYLE SEPARATOR END

// STYLE breadcrumb START
.breadcrumb
    margin-left: 1px
    color: #000
    font-size: 0.9em
    & .breadcrumb-link:hover
        color: #fff


// STYLE breadcrumb END