.center
    text-align: center
    
    
    // STYLE SEPARATOR START
.separator
    height: 7px
    width: 20%
    border: none
    box-shadow: none
    margin: auto
    margin-top: 50px
    margin-bottom: 50px

// STYLE SEPARATOR END
