{% extends "@EasyAdmin/page/content.html.twig" %}

{% block body %}
{{ parent() }}
<main class="dashboard">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio tempore ducimus est voluptates ipsum! Ullam nobis alias doloribus officia a ratione quasi debitis explicabo quia ad facilis delectus, dolor natus!
Veniam, nobis, illum incidunt dolore magnam labore voluptas sequi, nam totam voluptate sed saepe aperiam magni mollitia blanditiis libero vitae atque vel rem cupiditate tempore corrupti. Enim tempore iure asperiores.
Mollitia rem corporis vitae similique amet, eaque dolorum unde reiciendis, quasi, voluptatum perferendis iure maxime dicta tenetur at quis. Repellat voluptate quaerat laborum odit praesentium error, nulla est exercitationem nobis?
A sunt sapiente, omnis adipisci tempore, nisi nulla hic minus incidunt quisquam illum explicabo enim ipsam doloremque mollitia cum deserunt quod eaque, deleniti ratione voluptate. In, provident officia? Doloribus, repellat?
Beatae nostrum nisi eius eaque hic. Ipsa, laboriosam velit corrupti ratione eius quibusdam ab omnis deserunt qui sunt iure fugiat. Maxime iusto, laborum sed minima rerum sit unde iste quia?</p>


</main>

{% endblock %}
