{% extends 'base.html.twig' %}

{% block title %}Consultant |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

	<main class="container">


{% if accounts %} 
		<div class="accounts">
			<h1>Comptes à valider</h1>

			{% for account in accounts %}

				<div class="account row">
					<div class="col-8 text-center">
						{{ account.email }}
					</div>
					<div class="col-4">
						<a href="{{ path('active_user', { id : account.id }) }}" type="button" class="btn btn-primary btn-sm">VALIDER</a>
					</div>
				</div>
			{% endfor %}
		</div>
{% else %}
		<div class="alert alert-success" role="alert">
			<div class="alert-message text-center">
				<h1>Aucun Comptes à valider.</h1>
			</div>
		</div>
	
{% endif %}
	</main>
{% endblock %}

