{% extends 'base.html.twig' %}

{% block title %}Hello RecruiterController!{% endblock %}

{% block body %}
{% block header %}
	{{ parent() }}
{% endblock %}


    <main class="example-wrapper">
        <h2>{{ titlepage }}!</h2>

        
    </main>
{% endblock %}
