{% extends 'base.html.twig' %}

{% block title %}Recruteur | {{ parent() }}!{% endblock %}

{% block body %}
	{{ parent() }}


    <main class="container">
        <h2>{{ titlepage }}!</h2>

        
    </main>
{% endblock %}
