{% extends 'base.html.twig' %}

{% block title %}Accueil |
	{{parent()}}
{% endblock %}


{% block body %}
	{{ parent() }}

	<main class="container mt-3">
		
			<h2>{{ titlepage }}</h2>

		
	</main>
{% endblock %}

