.candidacy
    background: rgb(51, 48, 48) url("../../img/img3.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff
    height: 100%

.boxCandidacy
    background: #000
    // background: $blue
    border: 2px solid black 
    line-height: 2em
    padding: 20px 15px
    border-radius: 5px
    border: solid #000 1px
    box-shadow: 5px 5px 50px white
    margin: 30px 30px
    max-width: 300px


// .test
//     display: flex
//     justify-content: space-around
//     align-content: space-around
    
