.compte
    background: rgb(51, 48, 48) url("../../img/img1.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 100%

.espace
    display: flex
    justify-content: center
    align-items: center
    
.post
    height: 100vh
    background: rgb(51, 48, 48) url("../../img/img3.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff

.annonce
    background-color: #343a40
    border-radius: 5px



.formProfil
    background-color: #000
    color: #fff
    padding: 20px
    border-radius: 5px
    max-width: 500px
    margin: auto
    margin-top: 40px
    & label
        padding-top: 30px
    