.home
    background: rgb(51, 48, 48) url("../../img/img4.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff

.box_home
    background: rgb(36,0,9)
    background: radial-gradient(circle, rgba(36,0,9,1) 0%, rgba(16,17,19,1) 52%, rgba(16,16,17,0) 100%)
    line-height: 2em
    font-size: 1.5em
    padding: 0 15px
    border-radius: 3%
    box-shadow: 5px 5px 50px white