.home
    width: 100%
    background: rgb(51, 48, 48) url("../../img/img4.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff
    text-align: center
