.jobOffer
    background: rgb(51, 48, 48) url("../../img/img6.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #000
    height: 100%
    

.box_jobOffer
    background: $blue
    line-height: 2em
    font-size: 1.1em
    padding: 20px 15px
    border-radius: 5px
    box-shadow: 5px 5px 50px #000
    margin: 30px 20px
    width: 20rem

.city
    font-size: 0.8em