<h1>Nouveau message via le formulaire de contact</h1>
<p>Expéditeur : {{user.email}}</p>
<p>Le: {{contact.createdAt | date('d/m/y')}}</p>
<p>Le sujet: {{ contact.subject}} </p>
<p>Le message: {{ contact.message}}</p>



