<h1>Création de compte</h1>
<p>Bonjour
	{{user.email}}</p>
<p>Vous venez de créer un compte de connexion sur le site TRT Conseil.</p>
<p> Vous allez recevoir, très prochainement, un mail de confirmation pour accéder à votre compte.</p>
<p>Une fois que notre équipe aura valider votre compte, vous pourrez compléter votre profil et poster une annonce.</p>
<p>Nous vous remercions de votre confiance.</p>
<p>Cordialement</p>
<p>L'equipe TRT Conseil</p>
