<h1>Candidature Refusé</h1>
<p>Bonjour, vous avez postuler à une offre d'emploi :
</p>
<ul>
	<li>Pour la société : {{ jobOffer.recruiter.nameCompany }}</li>
	<li>Poste recherché : {{ jobOffer.title }}</li>
</ul>
<p>Malheureusement nous ne pouvons pas accepter votre candidature.</p>

<p>Nous vous souhaitons bon courage dans vos recherches.</p>
<p>Cordialement</p>
<p>L'equipe TRT Conseil</p>
<p><a href="{{ absolute_url(path('home')) }}">TRTConseil</a></p>

