{% extends 'base.html.twig' %}

{% block title %}Page Introuvable |
	{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

<boby >

<main class="error container">

    <h2 class="titleError">Erreur 404 </h2>

        <p class="textError">Oups<br>Cette page est introuvable !!!</p>   

    </main>
</boby>

{% endblock %}

