{% extends 'base.html.twig' %}

{% block title %}Accés Refusé |
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

	<boby>

		<main class="error container">

			<h2 class="titleError">Erreur 403
			</h2>

<p class="textError">Accés refusé<br>Merci de vous connecter</p>




		</main>
	</boby>

{% endblock %}

