{% for apply in applies %}

<div class="card text-white bg-dark m-4" style="width: 18rem;">

	<h5 class="card-header center underline">Candidatures :</h5>
	<div class="card-body">
		<p class="card-text"> Pour la société :
			{{ apply.joboffer.recruiter.namecompany }}
		</p>
		<p class="card-text">
			{{ apply.joboffer.title }}
		</p>
		<p class="card-text">
			{{ apply.joboffer.content }}
		</p>
		
		<a href="{{ path('remove_candidature', { id : apply.id }) }}" type="button" class="btn btn-danger btn-sm mb-5" title="Supprimer la candidature" alt="Supprimer la candidature">Supprimer</a>


	</div>

</div>

{% else %}
    
    <div class="container alert alert-danger mt-5" role="alert">
        <div class="alert-message text-center">
            <p>Vous n'avez postulé à aucune offres d'emploi</p>
        </div>
    </div>
{% endfor %}


