{% extends 'base.html.twig' %}

{% block title %}Candidats | {{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}


<main class="container">
    <h2>{{ titlepage }}! </h2>

    AVOIR LORS DU LA VALIDATION PAR EMAIL LE REDIRIGER VER PROFIL-NEW

</main>
{% endblock %}
