{% extends 'base.html.twig' %}

{% block title %}Hello CandidateController!{% endblock %}

{% block body %}
{% block header %}
	{{ parent() }}
{% endblock %}


<main class="example-wrapper">
    <h2>{{ titlepage }}! </h2>

    AVOIR LORS DU LA VALIDATION PAR EMAIL LE REDIRIGER VER PROFIL-NEW

</main>
{% endblock %}
